body {
  background: var(--lm-body);
  color: var(--lm-default);
  /* TEMPORARY FONT */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  margin: 0;
  width: 100%;
  height: 100vh;
}

:root {
  /* LIGHT MODE BACKGROUNDS */
  --lm-body: #ece9d4;
  --lm-header: #44656c;
  --lm-nav: #557379;
  --lm-footer: #44656c;

  /* DARK MODE BACKGROUNDS */
  --dm-body: #121212;
  --dm-header: #263140;
  --dm-nav: #35515f;
  --dm-footer: #263140;

  /* TEXT */
  --lm-default: #333333;
  --dm-default: #a6b7ba;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.5fr 2fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "donateHeading donateHeading donateHeading donateHeading"
    "donateMain donateMain donateMain donateMain"
    "donateMain donateMain donateMain donateMain"
    "donateFooter donateFooter donateFooter donateFooter";
}

.donateHeading {
  grid-area: donateHeading;
  background: var(--lm-header);
}
/* Donate Main  */
.donateMain {
  grid-area: donateMain;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "donate-form donate-form donate-form donate-buttons";
  height: 86.25vh;
}

.donate-form{
  grid-area: donate-form;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  max-width: 75%;
  padding-left: 100px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{
  border: 3px solid black;
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-size: 14pt;
  width: 100%;
  margin-bottom: 20px;
}
.form-control p{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10pt;
}
/* Donate Error CSS */
.form-control.success input{
  border-color: lawngreen;
}
.form-control.error input{
  border-color: red;
}
.form-control.error p{
  visibility: visible;
  color: red;
}
.donate-buttons{
  grid-area: donate-buttons;
}

.socialmedia {
  text-align: right;
}

.socialmedia img {
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.donateTitle {
  grid-area: donateTitle;
}



.donateFooter {
  grid-area: donateFooter;
  background: var(--lm-header);
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
    font-size: 12pt;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) {
}

/* For desktop: */
@media only screen and (min-width: 768px) {
}
