body {
  background: var(--lm-body);  
  color: var(--lm-default);
  /* TEMPORARY FONT */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  margin: 0;
  width: 100%;
}

:root {
  /* LIGHT MODE BACKGROUNDS */
  --lm-body: #ece9d4;
  --lm-header: #44656c;
  --lm-nav: #557379;
  --lm-footer: #44656c;

  /* DARK MODE BACKGROUNDS */
  --dm-body: #121212;
  --dm-header: #263140;
  --dm-nav: #35515f;
  --dm-footer: #263140;

    /* TEXT */
    --lm-default: #333333;
    --dm-default: #a6b7ba;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.5fr 2fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "donateHeading donateHeading donateHeading donateHeading"
    "donateTitle donateTitle donateTitle donateTitle"
    "donateMain donateMain donateMain donateMain"
    "donateFooter donateFooter donateFooter donateFooter";
}

.donateHeading {
  grid-area: donateHeading;
  background: var(--lm-header);
}

.socialmedia {
  text-align: right;
}

.socialmedia img {
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.donateTitle {
  grid-area: donateTitle;
}

.donateMain {
  grid-area: donateForm;
 
}

.donateFooter {
  grid-area: donateFooter;
  background: var(--lm-header);
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
    font-size: 12pt;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) {
}

/* For desktop: */
@media only screen and (min-width: 768px) {
}
