body{
  background: var(--lm-body);
  color: var(--lm-default) ;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 14pt;
  margin: 0;
  width: 100%;
}
.body2{
  background: var(--dm-body);
  color: var(--dm-default) ;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 14pt;
  margin: 0;
  width: 100%;
}

:root {
  /* LIGHT MODE BACKGROUNDS */
  --lm-body: #ECE9D4;
  --lm-header: #44656C;
  --lm-nav: #557379;
  --lm-footer: #44656C;  

  /* DARK MODE BACKGROUNDS */
  --dm-body: #121212;
  --dm-header: #263140;
  --dm-nav: #35515F;
  --dm-footer: #263140;  

  /* TEXT */
  --lm-default: #333333;
  --lm-navtxt: #bbdbd1;  
  --dm-default: #A6B7BA;
}

a, a:active, a:link {
  color: var(--lm-navtxt);
  text-decoration: none;  
}

.dark-h2 {
  font-family: 'Oswald', sans-serif;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #d8d8d8;  
}
.h2-dm {
  color: var(--dm-default);
  text-shadow: 1px 1px #444444;
  font-family: 'Oswald', sans-serif;
  color: #444444;
  text-align: center;
}

h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px #444444;
}


/* Main Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 2fr 0.5fr 2.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "topHead topHead topHead topHead"
    "headingImg headingImg headingImg headingImg"
    "navBar navBar navBar navBar"
    "main main main main"
    "footer footer footer footer";
  height: 200vh;
}


/* Top Level header */
.topHead {
  grid-area: topHead;
  background: var(--lm-header);
  color: var(--lm-navtxt);
  text-align: right;
}

.topHead2 {
  grid-area: topHead;
  background: var(--dm-header);
  color: var(--dm-default);
  text-align: right;
}

/* DM Button */
.deepSea {
  display: inline-block;
  background-color: var(--lm-navtxt);  
  color: var(--lm-default);  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;  
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.deepSea:active {
  background-color: var(--lm-navtxt);
  transform: translateY(2px);
}
.deepSea a, a:link {
  color: var(--lm-default);   
}
.deepSea:hover {
  background-color: var(--dm-header);
  color: var(--dm-default); 
  transition: 0.5s;
}

/* DONATE BUTTON */
.donatebutton {
  display: inline-block;
  background-color: var(--lm-navtxt);  
  color: var(--lm-default);  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;  
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.donatebutton:active {
  background-color: var(--lm-navtxt);
  transform: translateY(2px);
}
.donatebutton a, a:link {
  color: var(--lm-default);   
}
.donatebutton:hover {
  background-color: #ACD7CC;
  transition: 0.5s;
}

/* HEADER SOCIAL MEDIA */
.topsocialmedia {
  color: var(--lm-navtxt);
  text-align: right;
}
.topsocialmedia img {
  width: 30px;
  height: 30px;  
  padding: 5px;
  padding-top: 10px;
  margin-right: 5px;
}
.topsocialmedia img:hover {
  opacity: 0.7;
}


/* Main Image Heading */
.headingImg {
  grid-area: headingImg; 
  background: var(--lm-body);    
}

.banner {
  position: relative;
}

.banner img {
  display: block;
  width: 100%;  
  height: auto;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Navbar Section (LM) */
.navBar {
  grid-area: navBar;
  background: var(--lm-nav);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: 
  "nav1 nav2 nav3 nav4";  
  
  /* NAVTEXT(LM) */ 
  color: var(--lm-navtxt);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #333333;
  text-shadow: 3px 3px #333333;
}

/* Navbar Section (DM) */
.navBar2 {
  grid-area: navBar;
  background: var(--dm-nav);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: 
  "nav1 nav2 nav3 nav4";

  /* NAVTEXT(DM) */ 
  color: var(--dm-default);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #333333;
  text-shadow: 3px 3px #333333;
}

.navBar a, a:link {
  color: var(--lm-navtxt);  
}

.nav1{
    grid-area: nav1;    
}
.nav1:hover {
  background-color: var(--lm-header);
}

.nav2{
    grid-area: nav2;
}
.nav2:hover {
  background-color: var(--lm-header);
}

.nav3{
    grid-area: nav3;
}
.nav3:hover {
  background-color: var(--lm-header);
}

.nav4{
    grid-area: nav4;
}
.nav4:hover {
  background-color: var(--lm-header);
}


/* Main Section */
.main{  
  display: grid;
  grid-template-columns: 2fr .5fr 2fr;
  grid-template-rows: .5fr 1.5fr .5fr;
  grid-template-areas:
  "overview overview overview"
  "articles filler aboutUs"
  "news news news"
  ;
  grid-area: main;
  width: 80%;  
  margin-left: auto;
  margin-right: auto;
}

.overview{    
  grid-area: overview; 
  text-align: justify;
  padding: 10px;
}

.articles{  
  grid-area: articles; 
  text-align: justify;
  padding: 10px;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-evenly;
}
.icons img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutUs{
  grid-area: aboutUs;
  text-align: justify;
  padding: 10px;
}

.news{
  grid-area: news; 
  text-align: justify;
  padding: 10px;
}

.filler{
  grid-area: filler;
}


/* Footer Section */
.footer {
  grid-area: footer;
  background: var(--lm-header);  
  padding-bottom: 10px;
  border-top: 3px solid #333333;
}

.contact{  
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1.5fr ;
  grid-template-areas:
  "contact contact contact"  
  ;
  grid-area: contact;
  width: 100%;  
}

.footer p, address, h3, .socialmedia {
  color: var(--lm-navtxt);
  margin-left: auto;
  margin-right: auto;  
}

.footer2 {
  grid-area: footer;
  background: var(--dm-header);
  color: var(--dm-default);
}

address {
  text-transform: uppercase;
  text-align: center;
  font-style: normal; 
}

/* Footer Social Media */
.socialmedia {
  color: var(--lm-navtxt);
  text-align: center;
}
.socialmedia img {
  width: 30px;
  height: 30px;  
  padding: 5px
}
.socialmedia img:hover {
  opacity: 0.7;
}

/* Footer Form */
form {  
  color: var(--lm-navtxt);
  text-align: right;
  text-transform: uppercase;
  padding: 10px;
}

input[type=text], select, textarea {  
  width: 50%; 
  padding: 15px; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 5px; 
  margin-bottom: 15px;   
  resize: none;
}


/* MEDIA QUERIES */ 

/* For mobile phones: 
@media only screen and (max-width: 600px) {
  body, .body2 {
      font-size: 12pt;          
  }
  .banner, .banner img, .navBar, .navBar2, img, form, .textCenter, .headingImg {
    display: none;
    visibility: hidden;
  }
}*/

/* For tablets: 
@media only screen and (min-width: 600px) and (max-width:768){
  body, .body2 {
    font-size: 12pt;
  }
  .banner, .banner img, img, form, .headingImg, .textCenter {
    display: none;
    visibility: hidden;
  }  
}*/