body, html {  
    background: var(--body);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--default);
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14pt;
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    /* LIGHT MODE BACKGROUNDS */
    --body: linear-gradient(180deg, #82a8b0 0%, #5e8c97 51%, #44656c 75%);   
    --default: #333333;

    --header: #95b6bd;

    --nav: #557379;  
    --navtxt: #bbdbd1;

    --mainBody: #5e8c97;
    --subBody: #CAF0F8;
    
    --footer: #375258;

    /*DARK MODE SCHEME */
    --gunmetal: #263140;
    --richBlack: #121212;


   /* --lm-header: #44656c;   */ 
    
}


/* Main Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 0.4fr 1fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "navBar navBar navBar navBar"
      "mainImg mainImg mainImg mainImg"
      "mainBody mainBody mainBody mainBody"
      "footer footer footer footer";
}

/* Header */
.header { 
    grid-area: header;    
}

.subHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
    

/*
.headerColumn {
    float: left;
    width: 23%;
    padding: 10px;     
    margin-left: 5px;
}
.headerRow:after {
    content: "";
    display: table;
    clear: both;
}*/

#phoneNum, #email {    
    color: var(--navtxt); 
    font-family: 'Oswald', 'sans-serif';
    font-size: 18pt;  
    text-decoration: none; 
    text-transform: uppercase;    
    text-shadow: 2px 2px 4px var(--default);
}
#phoneNum:hover, #email:hover {
    color: var(--default);
    text-shadow: 1px 1px 2px var(--default);
}
/*------------------------------------*/
/* Dark Mode Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--gunmetal);
    -webkit-transition: .4s;
    transition: .4s;
}  
input:checked + .slider {
    background-color: var(--richBlack);
}  
input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}  
.slider.round:before {
    border-radius: 50%;
}
/*------------------------------------*/
/* Social Media Icons */
.socialMedia a, .socialMedia a:link {  
    font-size: 35px;
    padding: 5px;
    color: var(--default);
    text-decoration: none;     
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-phone-alt, .fa-envelope {
    filter:drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));    
}
.socialMedia a:hover {    
    color: var(--footer);
}
/*------------------------------------*/
/* End Header */


/* Navigation */
.navBar { 
    grid-area: navBar;
    background-color: var(--header);    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;      
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Sticky Navigation */
#navbar {    
    grid-area: navBar;
    background-color: var(--header); 
    overflow: hidden;    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;      
}  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;    
    border-bottom: 4px solid var(--nav);
    z-index: 1;
} 
  
.topLinks a:any-link {
    color: var(--navtxt);
    font-size: 35pt;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;   
    text-shadow: 2px 2px 4px var(--default);
}
.topLinks a:any-link:hover {
    color: var(--nav);
    -webkit-text-stroke-color: var(--default);
}
/* End Navigation */


/* Banner Image */
.mainImg { 
    grid-area: mainImg;   
    background-image: url('images/underwater1.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*border-top: 2px solid var(--default);
    border-bottom: 2px solid var(--default);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
/*
.mainImg:hover{ 
    opacity: 0.5; /** Animation to represent polluted water **/ 
    /*transition: 0.5s; 
} */
.imgTitle {
    position: absolute;
    color: var(--navtxt);
    font-family: 'Oswald', 'san-serif';
    font-size: 90pt;
    text-transform: uppercase;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-shadow: 2px 2px 4px var(--default); 
     
}
.countdownTimer { 
    position: absolute;   
    background-color: rgb(202, 240, 248, 50%);
    color: var(--navtxt);
    font-family: 'Oswald', 'san-serif';
    font-size: 50pt;
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px var(--default);  
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);  
    padding: 20px; 
    border: 4px solid var(--navtxt);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.contScroll {
    position: absolute;
    color: var(--navtxt);
    font-family: 'Oswald', 'san-serif';
    font-size: 30pt;
    text-transform: uppercase;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-shadow: 2px 2px 4px var(--default); 
}
.fa-angle-double-down {
    position: absolute;  
    color: var(--navtxt);    
    font-size: 60pt;  
    text-shadow: 2px 2px 4px var(--default);  
    top: 80%;   
    left: 50%;
    transform: translate(-50%, -50%);       
    text-shadow: 2px 2px 4px var(--default);   
    animation: arrowMove 3s infinite;
    -moz-animation: arrowMove 3s infinite; 
    -webkit-animation: arrowMove 3s infinite;  
}
@keyframes arrowMove {    
    from {top: 82%;}
    to {top: 96%;}
    100% {color: var(--footer);}    
}
/* End Banner Image */

/* Main Body */
.mainBody { 
    grid-area: mainBody; 
    background-color: linear-gradient(180deg, #82a8b0 0%, #5e8c97 51%, #44656c 75%);    
}

.subBody {
    width: 100%;    
    margin-top: 10px;    
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.overview, .news, .aboutus, .oceanfacts, .donate, .contact {
    background-color:var(--subBody);
    font-size:36px;       
    padding: 10px;
    margin-top: 10px;   
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footerAbout {
    text-align: justify;
}

.overview {
    background-image: url('images/underwater2.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;     
}

.oceanfacts {
    background-image: url('images/underwater3.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;     
}

.donate {
    background-image: url('images/underwater4.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;     
}
/* End Main Body */


/* Footer */
.footer { 
    grid-area: footer; 
    background-color: var(--footer);      
}
.footerColumn {
    float: left;
    width: 23%;
    padding: 15px;     
    margin-left: 5px;
}
.footerRow:after {
    content: "";
    display: table;
    clear: both;
}
h2 {
    color: var(--navtxt);    
    font-family: 'Oswald', 'sans-serif';
    font-size: 20pt;  
    text-decoration: none; 
    text-transform: uppercase;    
    text-shadow: 2px 2px 4px var(--default);
}
.footerAbout, address {
    color: var(--navtxt);
    font-family: 'Oswald', 'sans-serif';
    text-shadow: 2px 2px 4px var(--default);
    font-style: normal;
}
.footer a:any-link, .fa-facebook-square, .fa-twitter-square, .fa-instagram-square, .fa-github, .fa-angle-up {
    color: var(--navtxt); 
    font-family: 'Oswald', 'sans-serif';
    font-size: 16pt;  
    text-decoration: none; 
    text-transform: uppercase;    
    text-shadow: 2px 2px 4px var(--default);
}
.footer a:any-link:hover {
    color: var(--nav);
}
/* End Footer */

.copyright {  
    background-color: var(--nav);  
    color: var(--default);  
    text-align: center;
    font-size: small;
    padding: 5px;    
}

/* To Top */
#topBtn {
    display: none; 
    position: fixed; 
    background-color: var(--gunmetal) ;
    color: var(--subBody);
    text-align: center;
    bottom: 20px; 
    right: 35px; 
    z-index: 99; /* Make sure it does not overlap */  
    padding: 5px 15px;   
    cursor: pointer; /* Add a mouse pointer on hover */     
    font-size: 50px; /* Increase font size */
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topBtn:hover {
    background-color: var(--subBody);
    color: var(--gunmetal);
} 
