body{
  background: var(--lm-body);
  color: var(--lm-default) ;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 14pt;
  margin: 0;
  width: 100%;
}
.body2{
  background: var(--dm-body);
  color: var(--dm-default) ;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 14pt;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

:root {
  /* LIGHT MODE BACKGROUNDS */
  --lm-body: #ECE9D4;
  --lm-header: #44656C;
  --lm-nav: #557379;
  --lm-footer: #44656C;
  

  /* DARK MODE BACKGROUNDS */
  --dm-body: #121212;
  --dm-header: #263140;
  --dm-nav: #35515F;
  --dm-footer: #263140;  

  /* TEXT */
  --lm-default: #333333;
  --lm-navtxt: #bbdbd1;
  
  --dm-default: #A6B7BA;

}

/* Main Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.5fr 2.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "topHead topHead topHead topHead"
    "headingImg headingImg headingImg headingImg"
    "navBar navBar navBar navBar"
    "main main main main"
    "footer footer footer footer";
  height: 200vh;
}

/* Top Level header */
.topHead {
  grid-area: topHead;
  background: var(--lm-header);
  color: var(--lm-navtxt);
  text-align: right;
}

.topHead2 {
  grid-area: topHead;
  background: var(--dm-header);
  color: var(--dm-default);
  text-align: right;
}

.deepSea {
  display: inline-block;
  background-color: var(--lm-navtxt);  
  color: var(--lm-default);  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;  
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.deepSea:active {
  background-color: var(--lm-navtxt);
  transform: translateY(2px);
}

.deepSea a, a:link {
  color: var(--lm-default);   
}

.deepSea:hover {
  background-color: var(--dm-header);
  color: var(--dm-default); 
  transition: 0.5s;
}


.donatebutton {
  display: inline-block;
  background-color: var(--lm-navtxt);  
  color: var(--lm-default);  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;  
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.donatebutton:active {
  background-color: var(--lm-navtxt);
  transform: translateY(2px);
}

.donatebutton a, a:link {
  color: var(--lm-default);   
}

.donatebutton:hover {
  background-color: #ACD7CC;
  transition: 0.5s;
}


/* Main Image Heading */
.headingImg {
  grid-area: headingImg;
  width: 100%; 
  height: 100%;
  background: var(--lm-body);
}

/*.headingImg:hover .banner,
.headingImg:focus .banner {
  transform: scale(1.1);
}*/

.banner {
  width: 100%;
  height: 100%;
  background: url(images/coralreef.jpeg); /* Stock Photo by Adobe Photo Stock  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*transition: all .5s;*/
}

.darkMode{
  width: 100%;
  height: 100%;
  background: url(images/deepSea.png); /* Stock Photo by Adobe Photo Stock  */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/*.banner::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;  
}*/

/*.headingImg:hover .banner:before,
.headingImg:focus .banner:before {
  display: block;
}*/


/* Navbar Section */
.navBar {
  grid-area: navBar;
  background: var(--lm-nav);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: 
  "nav1 nav2 nav3 nav4";

  /* NAVTEXT */ 
  color: var(--lm-navtxt);
  font-family: Verdana,Geneva,sans-serif; 
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #333333;
  text-shadow: 3px 3px #333333;
}

.navBar2 {
  grid-area: navBar;
  background: var(--dm-nav);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: 
  "nav1 nav2 nav3 nav4";

  /* NAVTEXT */ 
  color: var(--dm-default);
  font-family: Verdana,Geneva,sans-serif; 
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #333333;
  text-shadow: 3px 3px #333333;
}
.navBar a, a:link {
  color: var(--lm-navtxt);  
}

.nav1{
    grid-area: nav1;    
}
.nav2{
    grid-area: nav2;
}
.nav3{
    grid-area: nav3;
}
.nav4{
    grid-area: nav4;
}

/* Main Section */
.main{  
  display: grid;
  grid-template-columns: 2fr .5fr 2fr;
  grid-template-rows: 1.5fr 1.5fr .5fr;
  grid-template-areas:
  "overview overview overview"
  "articles filler aboutUs"
  "donate donate donate"
  ;
  grid-area: main;
  width: 100%;  
}

.overview{
  grid-area: overview;
  text-align: justify;
  padding: 10px;
}

.articles{
  grid-area: articles;
  text-align: justify;
  padding: 10px;
}

.aboutUs{
  grid-area: aboutUs;
  text-align: justify;
  padding: 10px;
}

.donate{
  grid-area: donate;
  text-align: justify;
  padding: 10px;
}

.filler{
  grid-area: filler;
}


/* Footer Section */
.footer {
  grid-area: footer;
  background: var(--lm-header);
}

.footer2 {
  grid-area: footer;
  background: var(--dm-header);
  color: var(--dm-default);
}

.socialmedia {
  color: var(--lm-navtxt);
  text-align: right;
}

.socialmedia img {
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;
}


/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
      font-size: 12pt;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  
}