body{
  background: var(--lm-body);
  color: var(--lm-default) ;
  /* TEMPORARY FONT */ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 15pt;
  margin: 0;
  width: 100%;
}

:root {

  /* TEXT */
  --lm-default: #333333;
  --dm-default: #A6B7BA;

  /* LIGHT MODE BACKGROUNDS */
  --lm-body: #ECE9D4;
  --lm-header: #44656C;
  --lm-nav: #557379;
  --lm-footer: #44656C;
  

  /* DARK MODE BACKGROUNDS */
  --dm-body: #121212;
  --dm-header: #263140;
  --dm-nav: #35515F;
  --dm-footer: #263140;  
}

/* Main Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.5fr 2.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "topHead topHead topHead topHead"
    "headingImg headingImg headingImg headingImg"
    "navBar navBar navBar navBar"
    "article1 article1 article2 article2"
    "footer footer footer footer";
  height: 150vh;
}

/* Top Level header */
.topHead {
  grid-area: topHead;
  background: var(--lm-header);
}

/* Main Image Heading */
.headingImg {
  grid-area: headingImg;
  background: #c6def1; 
}

/* Navbar Section */
.navBar {
  grid-area: navBar;
  background: var(--lm-nav);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: 
  "nav1 nav2 nav3 nav4";
  text-transform: uppercase;
  -webkit-text-stroke: 1px #333333;
  text-shadow: 2px 2px #333333;
}
.nav1{
    grid-area: nav1;
}
.nav2{
    grid-area: nav2;
}
.nav3{
    grid-area: nav3;
}
.nav4{
    grid-area: nav4;
}

/* Article Selection #1 -- Left Side */
.article1 {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "filler1 filler1 filler1 filler1"
    "filler1 innerArticle1 innerArticle1 filler1"
    "filler1 innerArticle1 innerArticle1 filler1"
    "filler1 filler1 filler1 filler1 filler1";
  grid-area: article1;
  background: #f7d9c4;
}
.innerArticle1 {
  grid-area: innerArticle1;
  background: #f9c6c9;
}
.filler1 {
  grid-area: filler1;
  background: #e2e2df;
}

/* Article Selection #2 -- Right Side */
.article2 {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "filler2 filler2 filler2 filler2"
    "filler2 innerArticle2 innerArticle2 filler2"
    "filler2 innerArticle2 innerArticle2 filler2"
    "filler2 filler2 filler2 filler2";
  grid-area: article2;
  background: #faedcb;
}
.innerArticle2 {
  grid-area: innerArticle2;
  background: #f2c6de;
}
.filler2 {
  grid-area: filler2;
  background: #d2d2cf;
}

/* Footer Section */
.footer {
  grid-area: footer;
  background: var(--lm-header);
}


/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
      font-size: 12pt;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  
}