body {
  background: var(--lm-body);
  color: var(--lm-default);
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 14pt;
  margin: 0;
  width: 100%;
}

:root {
  /* LIGHT MODE BACKGROUNDS */
  --lm-body: #ece9d4;
  --lm-header: #44656c;
  --lm-nav: #557379;
  --lm-footer: #44656c;
  --lm-default: #333333;
  --lm-navtxt: #bbdbd1;
}

[data-theme="dark"] {
  --lm-body: #121212;
  --lm-header: #263140;
  --lm-nav: #35515f;
  --lm-footer: #263140;
  --lm-default: #a6b7ba;
  --lm-navtxt:#557379;
}
a,
a:active,
a:link {
  color: var(--lm-navtxt);
  text-decoration: none;
}

.dark-h2 { /*Remove */
  font-family: "Oswald", sans-serif;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #d8d8d8;
}

h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px #444444;
}

/* Main Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 2fr 0.5fr 2.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "topHead topHead topHead topHead"
    "headingImg headingImg headingImg headingImg"
    "navBar navBar navBar navBar"
    "main main main main"
    "footer footer footer footer";
  height: 200vh;
}

/* Top Level header */
.topHead {
  grid-area: topHead;
  background: var(--lm-header);
  color: var(--lm-navtxt);
  text-align: right;
  border-bottom: 3px solid var(--lm-default);
}

/* DM Button */
.deepSea {
  display: inline-block;
  background-color: var(--lm-navtxt);
  color: var(--lm-default);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.deepSea:active {
  background-color: var(--lm-navtxt);
  transform: translateY(2px);
}
.deepSea a,
a:link {
  color: var(--lm-default);
}
.deepSea:hover {
  background-color: var(--lm-header);
  color: var(--lm-default);
  transition: 0.5s;
}

/* DONATE BUTTON */
.donatebutton {
  display: inline-block;
  background-color: var(--lm-navtxt);
  color: var(--lm-default);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.donatebutton:active {
  background-color: var(--lm-navtxt);
  transform: translateY(2px);
}
.donatebutton a,
a:link {
  color: var(--lm-default);
}
.donatebutton:hover {
  background-color: #acd7cc;
  transition: 0.5s;
}
/* switch */
.theme-switch-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;  
  margin-top: 10px; 
  margin-right: 10px;  
}
em {  
  margin-left: 10px;
  padding: 5px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #263140;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #121212;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* HEADER SOCIAL MEDIA */
.topsocialmedia {
  color: var(--lm-navtxt);
  text-align: right;
}
.topsocialmedia img {
  width: 30px;
  height: 30px;
  padding: 5px;
  padding-top: 10px;
  margin-right: 5px;
}
.topsocialmedia img:hover {
  opacity: 0.7;
}

/* TO TOP BUTTON */
#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; 
  right: 30px; 
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none; 
  background-color: var(--lm-nav); 
  color: var(--lm-navtxt); 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 8px; 
  font-size: 18px; 
  text-transform: uppercase;
  font-weight: bold;
}
#topBtn:hover {
  background-color: #555; 
}


/* Main Image Heading */
.headingImg {
  grid-area: headingImg;
  background: var(--lm-body);
}

.banner {
  position: relative;
  text-align: center;
}

.banner img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textCenter {
  position: absolute;
  color: var(--lm-navtxt);
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px var(--lm-default);
  text-transform: uppercase;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Navbar Section (LM) */
.navBar {
  grid-area: navBar;
  background: var(--lm-nav);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
  grid-template-areas: "nav1 nav2 nav3 nav4";
  border-bottom: 3px solid var(--lm-default);

  /* NAVTEXT(LM) */
  color: var(--lm-navtxt);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;  
  text-shadow: 3px 3px #333333;
}

.navBar a {
  color: var(--lm-navtxt);
  text-decoration: none;  
}

.nav1 {
  grid-area: nav1;
}
.nav1:hover {
  background-color: var(--lm-header);
}

.nav2 {
  grid-area: nav2;
}
.nav2:hover {
  background-color: var(--lm-header);
}

.nav3 {
  grid-area: nav3;
}
.nav3:hover {
  background-color: var(--lm-header);
}

.nav4 {
  grid-area: nav4;
}
.nav4:hover {
  background-color: var(--lm-header);
}

/* Main Section */
.main {
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
  grid-template-areas:
    "overview overview overview"
    "articles filler aboutUs"
    "news news news";
  grid-area: main;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.overview {
  grid-area: overview;
  text-align: justify;
  padding: 10px;
}

.articles {
  grid-area: articles;
  text-align: justify;
  padding: 10px;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-evenly;
}
.icons img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutUs {
  grid-area: aboutUs;
  text-align: justify;
  padding: 10px;
}

.news {
  grid-area: news;
  text-align: justify;
  padding: 10px;
}

.filler {
  grid-area: filler;
}

/* Footer Section */
.footer {
  grid-area: footer;
  background: var(--lm-header);
  padding-bottom: 10px;
  border-top: 3px solid var(--lm-default);
}

.contact {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1.5fr;
  grid-template-areas: "contact contact contact";
  grid-area: contact;
  width: 100%;
}

.footer p,
address,
h3,
.socialmedia {
  color: var(--lm-navtxt);
  margin-left: auto;
  margin-right: auto;
}

address {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
}

.email a {
  color: var(--lm-navtxt);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.email a:hover {
  color: var(--lm-default);
}

/* Footer Social Media */
.socialmedia {
  color: var(--lm-navtxt);
  text-align: center;
}
.socialmedia img {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.socialmedia img:hover {
  opacity: 0.7;
}

/* Footer Form */
form {
  color: var(--lm-navtxt);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: none;
}

/* MEDIA QUERIES */
/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
      font-size: 12pt;          
  }  

  .textCenter {
    font-size: 30px;
  }

  .navBar {
    font-size: 10pt;    
  }

  .navBar a {
    color: var(--lm-navtxt);
    text-decoration: none;
    -webkit-text-stroke: 0px;
  }

  .news, .aboutUs, .overview, .articles {
    text-align: left;
  }

  .icons img {
    width: 35px;
    height: 35px;
  }

  .contact {
    font-size: 12px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1.5fr;
    grid-template-areas: "contact contact";
    grid-area: contact;
    width: 100%;
  }

  form, .topsocialmedia, .donatebutton {
    visibility: hidden;
  }

}
